---
import "../styles/global.css";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Eugenio Astro</title>
  </head>
  <body>
    <main>
      <p>Eugenio Astro</p>
    </main>
  </body>
</html>
